<!DOCTYPE html>
<html>
<head>
	<title>周辺の店舗</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/css/commodity.css">
</head>
<body>
<form name="read" action="/login" method="POST">
	<div class="row">
		<div class="col-12">
			

			<header>
				<img src="../static/image/logo.png">
			</header>
			<div class="bento">
				<img src="../static/image/bento.jpg">
			</div>

		</div>
			<div class="col-sm-6 detail">
				<table border="1"　class="attendance-status">
					<tr>
						<th width="30%">
							値段
					 	</th>
						<td width="70%" class="status-space-td">
							300円
						</td>
					</tr>
					<tr>
						<th width="30%" class="status-space">
							住所
						</th>
						<td width="70%" class="status-space-td">
							東京都新宿区西新宿1-1-1
						</td>
					</tr>
					<tr>
						<th width="30%" class="status-space">
							販売期間
						</th>
						<td width="70%" class="status-space-td">
							2020年9月17日  14:00〜16:00
						</td>
					</tr>
				</table>
			</div>
			<div class="col-sm-6 detail">
				<table border="1"　class="attendance-status">
					<tr>
						<th width="30%">
							アレルギー
					 	</th>
						<td width="70%" class="status-space-td">
							卵
						</td>
					</tr>
					<tr>
						<th width="30%" class="status-space">
							カロリー
						</th>
						<td width="70%" class="status-space-td">
							100kcal
						</td>
					</tr>
					<tr>
						<th width="30%" class="status-space">
							残量
						</th>
						<td width="70%" class="status-space-td">
							5
						</td>
					</tr>
				</table>
			</div>
		
	</div>
	
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</form>
</body>
</html>